body
{
	font-family: sans-serif;
	background-color: #d9d5ca;
}

.topbar
{
  background-color: #0b1213;
  color: #d9d5ca;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 90px;
  width: 100%;
}

.main-title
{
	display: inline;
  font-size: 55px;
  left: 150px;
}

.navbar
{
  background-color: #d11734;
  color: white;
  padding: 0px;
  margin: 0px;
  position: fixed;
  left: 0px;
  top: 90px;
  height: 48px;
  display: inline-block;
  width: 100%;
  z-index: 0;
}


nav
{
	display: inline;
	position: absolute;
	padding-left: 93px;
	color: red;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-weight: bold;
}


li
{
	float: left;
	padding: 0px;
}

li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

li a:hover
{
	background-color: #0b1213;
	color: whites;
}

.current
{
  background-color: #0b1213;
}
.main-container
{
	background-color: white;
	opacity: 0.65;
	color: black;
	font-size: 1em;
	font-weight: normal;
	position: relative;
	padding: 25px;
	left: 50px;
	top: 140px;
	width: 75%;
	height: 2080px;
  margin: auto;
	box-shadow: 0px 0px 25px -2px white;
  z-index: -2;
}


.footerbar
{
	background-color: #656565;
	color: #d9d5ca;
  font-size: 0.75em;
	padding: 5px;
	margin: 0px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	border-top: 10px solid black;
}


@media screen and (min-width: 800px)
{
	body
 	{

	 }
}

@media screen and (min-width: 1000px)
{
	body
	{

	}
}

.wrap
{
  display: inline;
  float: left;
  margin-right: 15px;
}


.box {
	width: 80%;
	background-color: transparent;
	box-shadow:0 5px 10px 0 rgba(0,0,0,0.2),0 5px 20px 0 rgba(0,0,0,0.25);
	margin-bottom: 20px;
	margin-top: 20px;
}
.box-top-orange {
	background-color: orange;
	padding-left: 10px;
	padding-right: 10px;
}
.box-top-purple {
	background-color: purple;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}
.box-top-gray {
	background-color: #d9d5ca;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}
.box-content {
	background-color: white;
	padding-left: 10px;
		padding-right: 10px;
}


.clearfix:after,.clearfix:before {content:"";display:table;clear:both}

.subheading {line-height: 1.4; font-weight: bold;}

label
{
		margin: 0px;
		padding: 10px;
}

input, textarea
{
		margin: 10px;
		padding: 10px;
}
